/** @mainpage Qore jni Module

    @tableofcontents

    @section jniintro jni Module Introduction

    The \c jni module allows for Java APIs to be used in %Qore as if the Java APIs were %Qore APIs and vice-versa, as
    %Qore APIs can be dynamically imported into Java programs at runtime; additionally a
    @ref org.qore.jni.compiler.QoreJavaCompiler "custom Java compiler" implementation is included that allows for
    building bytecode with the @ref org.qore.jni.QoreURLClassLoader "Qore class loader" that supports dynamic byte
    code generation for %Qore and Python language bindings; see @ref jni_dynamic_import_in_java for more
    information.

    Native API imports and bindings as well as run-time data translations between Java and %Qore and Java and Python
    are supported.

    Java bytecode generation for dynamic API generation is provided by
    <a href="https://bytebuddy.net/">Byte Buddy</a>, an excellent and flexible open-source API for Java bytecode
    generation.

    Also included with the \c jni module:
    - <a href="../../AccessDataProvider/html/index.html">AccessDataProvider</a> a data provider API for reading
      Microsoft Access databases (.mdb/.accdb format)
    - <a href="../../AvroDataProvider/html/index.html">AvroDataProvider</a> a data provider API for reading and
      writing Apache Avro data files
    - <a href="../../BusyLightDataProvider/html/index.html">BusyLightDataProvider</a> a data provider API for
      BusyLight devices using MQTT messaging
    - <a href="../../CamelDataProvider/html/index.html">CamelDataProvider</a> a data provider API for enterprise
      integration patterns using Apache Camel with 300+ connectors
    - <a href="../../EmailDataProvider/html/index.html">EmailDataProvider</a> a data provider API for reading
      email messages in EML, MSG, and MBOX formats
    - <a href="../../ExcelDataProvider/html/index.html">ExcelDataProvider</a> a data provider API to allow reading
      record-based data from Excel spreadsheets
    - <a href="../../FlywayDataProvider/html/index.html">FlywayDataProvider</a> a data provider API for database
      schema migration and versioning using Flyway
    - <a href="../../IcsDataProvider/html/index.html">IcsDataProvider</a> a data provider API for reading and
      writing ICS (iCalendar) calendar files
    - <a href="../../JasperReportsDataProvider/html/index.html">JasperReportsDataProvider</a> a data provider API
      for generating reports from JasperReports templates in PDF, Excel, HTML, and CSV formats
    - <a href="../../JdbcDataProvider/html/index.html">JdbcDataProvider</a> a data provider API for accessing
      databases via JDBC with schema introspection and SQL query execution
    - <a href="../../JakartaJmsDataProvider/html/index.html">JakartaJmsDataProvider</a> a data provider API for
      Jakarta JMS 3.x messaging brokers (ActiveMQ Artemis, TIBCO EMS, IBM MQ, etc.)
    - <a href="../../KafkaDataProvider/html/index.html">KafkaDataProvider</a> a data provider API for Kafka messaging
    - <a href="../../MqttDataProvider/html/index.html">MqttDataProvider</a> a data provider API for MQTT messaging
    - <a href="../../OdpDataProvider/html/index.html">OdpDataProvider</a> a data provider API for reading and
      writing ODP (OpenDocument Presentation) files used by LibreOffice Impress
    - <a href="../../OdsDataProvider/html/index.html">OdsDataProvider</a> a data provider API for reading and
      writing ODS (OpenDocument Spreadsheet) files used by LibreOffice Calc
    - <a href="../../OdtDataProvider/html/index.html">OdtDataProvider</a> a data provider API for reading and
      writing ODT (OpenDocument Text) files used by LibreOffice Writer
    - <a href="../../OpcUaDataProvider/html/index.html">OpcUaDataProvider</a> a data provider API for OPC UA
      connectivity using Eclipse Milo
    - <a href="../../PowerPointDataProvider/html/index.html">PowerPointDataProvider</a> a data provider API for
      reading and writing PowerPoint presentations
    - <a href="../../TikaDataProvider/html/index.html">TikaDataProvider</a> a data provider API for universal
      content detection and text extraction using Apache Tika
    - <a href="../../VcfDataProvider/html/index.html">VcfDataProvider</a> a data provider API for reading and
      writing vCard (.vcf) contact files
    - <a href="../../VisioDataProvider/html/index.html">VisioDataProvider</a> a data provider API for reading
      Visio documents (.vsdx format)
    - <a href="../../WordDataProvider/html/index.html">WordDataProvider</a> a data provider API for reading and
      writing Word documents

    This module is released under the MIT license (see \c COPYING.MIT in the source distribution for more
    information).  The module is tagged as such in the module's header (meaning it can be loaded unconditionally
    regardless of how the %Qore library was initialized).

    To use the module in a %Qore script, use the \c %%requires directive as follows:
    @code %requires jni @endcode

    Helper %Qore classes provided by this module:
    |!Class|!Description
    |@ref Jni::org::qore::jni::JavaArray "JavaArray"|a convenience class for using Java Arrays in %Qore
    |@ref Jni::org::qore::jni::QoreInvocationHandler "QoreInvocationHandler"|a convenience class for executing \
        %Qore-language callbacks from Java

    Helper %Qore functions provided by this module:
    |!Function|!Description
    |@ref Jni::org::qore::jni::get_version() "get_version()"|Returns the version of the JNI API
    |@ref Jni::org::qore::jni::get_byte_code() "get_byte_code()"|Returns the dynamically generated Java byte code of \
        the given %Qore class
    |@ref Jni::org::qore::jni::implement_interface() "implement_interface()"|Creates a Java object that implements \
        given interface using an invocation handler
    |@ref Jni::org::qore::jni::invoke() "invoke()"|Invokes a method with the given arguments
    |@ref Jni::org::qore::jni::invoke_nonvirtual() "invoke_nonvirtual()"|Invokes a method with the given arguments \
        in a non-virtual way; meaning that even if the object provided is a child class, the method given in the \
        first argument is executed
    |@ref Jni::org::qore::jni::native_access_option_enabled() "native_access_option_enabled()"|Returns @ref True if \
        native access is enabled for unnamed modules when the JVM was initialized
    |@ref Jni::org::qore::jni::load_class() "load_class()"|Loads a Java class with given name and returns a \
        \c java::lang::Class object
    |@ref Jni::org::qore::jni::new_array() "new_array()"|Creates a @ref Jni::org::qore::jni::JavaArray "JavaArray" \
        object of the given type and size
    |@ref Jni::org::qore::jni::set_save_object_callback() "set_save_object_callback()"|Sets the object lifecycle \
        management callback; see @ref jni_qore_object_lifecycle_management for more information
    |@ref Jni::org::qore::jni::kotlin_eval() "kotlin_eval()"|Evaluates a Kotlin script at runtime and returns the \
        result; requires kotlin-scripting JARs
    |@ref Jni::org::qore::jni::kotlin_scripting_available() "kotlin_scripting_available()"|Returns @ref True if \
        Kotlin scripting is available (kotlin-scripting JARs are in the classpath)
    |@ref Jni::org::qore::jni::kotlin_scripting_retry() "kotlin_scripting_retry()"|Retries Kotlin scripting \
        initialization after loading additional JARs at runtime

    @section jni_examples Examples

    @par Java Dynamic Python Import Example:
    @code{.java}
// import the "xml" module and all symbols from xml.etree.ElementTree into Java
import pythonmod.xml.etree.ElementTree.*;

// extend the pythonmod.xml.etree.ElementTree.ElementTree class
public class QoreDynamicTest10 extends ElementTree {
    // we need to declare that our constructor can throw an exception
    public QoreDynamicTest10() throws Throwable {
    }

    // parse some XML and then return the value of the given element
    public static Object test(String str, String name) throws Throwable {
        Element elem = (Element)pythonmod.xml.etree.ElementTree.$Functions.fromstring(str);
        Element e0 = elem.find(name);
        Object rv = e0.getMemberValue("text");
        return rv;
    }
}

    @endcode

    @par Java Dynamic %Qore Import Example:
    @code{.java}
import java.util.Arrays;
import java.util.Iterator;

// import ::Qore::AbstractIterator as an abstract Java base class
import qore.Qore.AbstractIterator;

// this class wraps a Java Iterator as a Qore AbstractIterator
class QoreIteratorTest extends AbstractIterator {
    private Iterator i;

    QoreIteratorTest(Iterator i) throws Throwable {
        this.i = i;
    }

    public boolean next() {
        return i.hasNext();
    }

    public Object getValue() {
        return i.next();
    }

    public boolean valid() {
        return true;
    }
}
    @endcode

    @par Kotlin Dynamic %Qore Import Example:
    @code{.kt}
// import ::Qore::Thread::Sequence as a Kotlin class
import qore.Qore.Thread.Sequence

// Kotlin class using Qore's Sequence
class KotlinSequenceExample {
    private val seq = Sequence()

    fun getNextValue(): Long {
        return seq.next()
    }

    fun getCurrentValue(): Long {
        return seq.getCurrent()
    }
}

// Kotlin data class example
data class Person(val name: String, val age: Int)

// Kotlin class with companion object and default parameters
class KotlinHelper(val id: Int) {
    // Method with default parameter
    fun greet(name: String = "World"): String {
        return "Hello, $name! ID: $id"
    }

    companion object {
        const val VERSION = "1.0"

        fun create(id: Int): KotlinHelper {
            return KotlinHelper(id)
        }
    }
}
    @endcode

    @note Kotlin classes can be compiled with \c qkotlinc to use Qore APIs, and loaded from %Qore using the standard
    class loading mechanisms. Kotlin-specific features like synthetic methods, companion objects, and default parameter
    variants are automatically filtered to provide a clean API.

    @par %Qore JMS Example:
    @code{.py}
 #!/usr/bin/env qore

 %new-style
 %require-types
 %strict-args
 %enable-all-warnings

 %requires jni
 %requires QUnit
 %requires Util

 # import Java classes to our script
 %module-cmd(jni) import javax.naming.InitialContext
 %module-cmd(jni) import javax.jms.*

 # add environment variable $GLASSFISH_JAR to the dynamic classpath (if set)
 %module-cmd(jni) add-classpath $GLASSFISH_JAR

 %exec-class Main

 public class Main inherits QUnit::Test {
     private {
         Counter c(1);
         auto data;

         const TextMsg = "Hello, world!";
     }

     constructor() : Test("JMS test", "1.0", \ARGV) {
         addTestCase("base test", \testJms());

         # Return for compatibility with test harness that checks return value.
         set_return_value(main());
     }

     testJms() {
         # these properties are the default; included here to provide an example for connecting to a remote server
         Properties props();
         props.setProperty("java.naming.factory.initial", "com.sun.enterprise.naming.SerialInitContextFactory");
         props.setProperty("org.omg.CORBA.ORBInitialHost", "localhost");
         props.setProperty("org.omg.CORBA.ORBInitialPort", "3700");

         InitialContext ctx(props);

         Connection connection =
            cast<ConnectionFactory>(ctx.lookup("jms/__defaultConnectionFactory")).createConnection();
         Session session = connection.createSession(Session::CLIENT_ACKNOWLEDGE);

         Destination queue = cast<Destination>(ctx.lookup("abc"));

         MessageProducer producer = session.createProducer(queue);
         MessageConsumer consumer = session.createConsumer(queue);

         # in order to implement the MessageListener interface for the callback, we have to use implement_interface()
         # as follows:
         ClassLoader loader = connection.getClass().getClassLoader();
         consumer.setMessageListener(cast<MessageListener>(implement_interface(loader,
            new QoreInvocationHandler(\messageCallback()), Class::forName("javax.jms.MessageListener", True,
                loader))));

         connection.start();

         TextMessage message = session.createTextMessage();
         message.setText(TextMsg);

         producer.send(message);
         # wait for message to be received
         c.waitForZero();

         assertEq(TextMsg, data);

         # unset the listener and exit
         consumer.setMessageListener(NOTHING);
     }

     # JMS message callback for the MessageListener interface
     messageCallback(Method method, *list args) {
         TextMessage msg = args[0];
         # ignore redeliveries
         if (msg.getJMSRedelivered())
             return;
         data = msg.getText();
         msg.acknowledge();
         if (m_options.verbose)
             printf("*** JMS message received: %y (id: %y)\n", msg.getText(), msg.getJMSMessageID());
         c.dec();
     }
 }
    @endcode

    @section jniinit JVM Initialization

    The JVM is initialized when the module is loaded.  It is possible to disable JIT when the module is loaded,
    however the module is loaded an initialized before module parse commands are processed, therefore to tell the
    module to disable JIT, the following environment variable must be set to \c 1:
    - <tt>QORE_JNI_DISABLE_JIT=1</tt>

    Heap sizes can be controlled by the following environment variables:
    - \c QORE_JNI_MIN_HEAP_SIZE: will set the <tt><b>-Xms</b></tt> JVM initialization option for the minimum heap size
    - \c QORE_JNI_MAX_HEAP_SIZE: will set the <tt><b>-Xmx</b></tt> JVM initialization option for the maximum heap size
    - \c QORE_JNI_DISABLE_NATIVE_ACCESS: when set to \c 1, do not add
      <tt><b>--enable-native-access=ALL-UNNAMED</b></tt> to JVM initialization options

    For example:
    @verbatim
# to initialize the JVM with a minimum and maximum heap size of 20MB
QORE_JNI_MIN_HEAP_SIZE=20m QORE_JNI_MAX_HEAP_SIZE=20m qore -l jni script.q
    @endverbatim

    @subsection jni_signals Signals Used By the JVM

    The JVM requires signals to run properly, and, while %Qore initializes the JVM with reduced signals (using the
    <tt>-Xrs</tt> argument to the JVM), certain signals are critical to the operation of the JVM and cannot be used by
    %Qore programs.

    The signals in the following table are reserved by the JVM.

    <b>Signals Reserved by the JVM</b>
    |!Signal|!Description
    |\c SIGTRAP|Trap exception
    |\c SIGSEGV|Segmentation violation
    |\c SIGBUS|Bus error
    |\c SIGCHLD|Child process terminated
    |\c SIGILL|Illegal instruction
    |\c SIGFPE|Floating-point exception

    If any %Qore code has a signal handler assigned to any of the above signals (for the signals that can be
    assigned), the \c jni module cannot be initialized and will fail to load.

    @section jni_use_java_in_qore Using Java APIs in Qore

    @subsection jniimport Importing Java APIs into Qore

    To import Java APIs into the %Qore program; any of the following jni-module-specific parse directives can be used,
    each of which also causes the jni module to be loaded and initialized:
    - @code{.qore} %module-cmd(jni) import java.namespace.path.* @endcode imports the given wilcard path or class into
      the %Qore program
    - @code{.qore} %module-cmd(jni) add-classpath filesystem/path:another/path @endcode adds the given paths to the
      Program-specific runtime dynamic classpath; supports environment variable substitution
    - @code{.qore} %module-cmd(jni) add-relative-classpath ../relative/path @endcode adds the given paths as relative
      to the current program to the Program-specific runtime dynamic classpath
    - @code{.qore} %module-cmd(jni) global-add-classpath filesystem/path:another/path @endcode adds the given paths to the
      global runtime dynamic classpath; supports environment variable substitution
    - @code{.qore} %module-cmd(jni) global-add-relative-classpath ../relative/path @endcode adds the given paths as relative
      to the current program to the global runtime dynamic classpath
    - @code{.qore} %module-cmd(jni) register-shared-class qore.Namespace.ClassName @endcode gives an exact dynamically
      projected %Qore class one Java identity across sibling %Program classloaders; the first registering %Program
      owns the Java class and every later registrant delegates to it

    All classes in \c java.lang.* are imported implicitly.  Referencing an imported class in %Qore code
    causes a %Qore class to be generated dynamically that presents the Java class.   Instantiating a %Qore class
    based on a Java class also instantiates an internal Java object that is attached to the %Qore object.  Calling
    methods on the object will cause the same Java methods to be called with any arguments provided.

    @see @ref jni_class_mapping for more information

    @subsection jni_define_class_parse_time Defining Java Classes at Parse Time in Qore

    The jni module also supports defining classes at parse time with the following jni-module-specific parse
    directives:
    - @code{.qore} %module-cmd(jni) define-class <name> <base 64 bytecode> @endcode defines the given class with
      \c &lt;name&gt; as the Java internal name for the class (ex: \c my/package/MyClassName)
    - @code{.qore} %module-cmd(jni) define-pending-class <name> <base 64 bytecode> @endcode adds the given class and
      bytecode as a pending class to be defined when required by a \c define-class directive; this should be used for
      inner classes and has been implemented to allow circular dependencies in such classes to be resolved;
      \c &lt;name&gt; is the Java internal name for the inner class (ex: \c my/package/MyClassName$1)

    @subsection jni_set_property_parse_time Setting Java System Properties at Parse Time in Qore

    The jni module also supports setting Java system properties at parse time with the following jni-module-specific
    parse directive:
    - @code{.qore} %module-cmd(jni) set-property <propname> <value> @endcode sets the given property at parse time

    @subsection jni_class_mapping Java Class and Package Mapping in Qore

    @subsubsection jni_package_mapping Java Package to Qore Namespace Mapping

    The \c jni module maps Java packages to %Qore namespaces.  Therefore in Java \c java.lang.String can be referred
    to as \c java::lang::String in Qore as in the following example:
    @code{.py}
    java::lang::String str();
    @endcode

    The \c jni module attempts to create %Qore classes that match the source Java class as closely as possible to
    maximize the usefulness of Java APIs in %Qore.

    When creating %Qore class methods from the corresponding Java source method, types are mapped according to
    @ref jni_java_to_qore.  Because %Qore has fewer types than Java, this can lead to method signature collissions in
    the generated %Qore class.

    In such cases, only the first method returned by the internal call to \c java.lang.Class.getDeclaredMethods() is
    mapped.

    To call an unmapped method, use reflection to get a \c java.lang.Method object and make the call using
    \c java.lang.Method.invoke() as in the folllowing example:
    @code{.py}
    StringBuilder stringBuilder("");
    Method stringBuilderAppendLong = stringBuilderClass.getMethod("append", Long::TYPE);
    stringBuilderAppendLong.invoke(stringBuilder, 20);
    printf("%y\n", stringBuilder.toString());
    @endcode

    @subsubsection jniclassmapping Java Inner Classes in Qore

    Java inner classes are mapped as %Qore classes by appending \c "__" to the outer class's name and then appending
    the name of the inner class.

    For example:
    @code{.java}
class Outer {
   public Outer() {
   }

   public class Inner {
       public Inner() {
       }
   }
}
    @endcode

    The inner class would be created as \c "Outer__Inner" in %Qore.

    @subsubsection jni_class_subclassing Subclassing Java Classes in Qore

    When subclassing Java classes in %Qore, the %Qore class code is not executed by Java when dispatching method calls
    in Java itself.  This means that overriding Java methods in %Qore is only valid for code executed from %Qore.

    To override a Java method when called from Java, you must subclass the class in Java as well and import the child
    class into your %Qore program.

    One exception to this limitation is with interfaces; programmers can use the
    @ref Jni::org::qore::jni::QoreInvocationHandler "QoreInvocationHandler" class to execute %Qore-language callbacks
    based on Java interfaces; see the documentation for
    @ref Jni::org::qore::jni::QoreInvocationHandler "QoreInvocationHandler" for more information.

    @subsubsection jni_class_fields Java Class Fields to Qore Class Mappings

    Java fields are mapped to different %Qore class members according to the Java type according to the following
    table.

    <b>Java Field to Qore Class Member Mappings</b>
    |!Java|!Qore|!Qore Example
    |<tt><b>static final</b></tt>|%Qore class constants|@code{.py}MyClass::myField@endcode
    |<tt><b>static</b></tt> (non-final)|%Qore static class members|@code{.py}obj.myField@endcode
    |all others|normal %Qore class members|@code{.py}obj.myField@endcode

    For example:
    @code{.py}
System::out.println("testing...");
    @endcode

    @note Java field values are only stored in Java; they are not mirrored in %Qore.  Java field values are accessed
    with the class's \c memberGate() method; updating a Java object's field value in Qore will not cause the field
    value to be updated in Java.  To update the field's value from %Qore in Java, use
    \c java::lang::reflect::Field::set().

    @subsubsection jni_access_mapping Java Access Mapping in Qore

    Java access modifiers are mapped directly to Qore access modifiers as in the following table.

    <b>Java to Qore Access Mappings</b>
    |!Java|!Qore
    |\c\b public|\c\b public
    |\c\b protected|\c\b private (or \c\b private:hierarchy)
    |\c\b private|\c\b private:internal

    @subsection jni_classloader Java Classloader

    There is a global classloader for all Java objects reachable without special classpath.  For all other objects,
    each %Qore @ref Qore::Program "Program" container has its own custom classloader provided by the \c jni module
    that supports a dynamic classpath.

    The %Qore @ref Qore::Program "Program"-specific dynamic classpath can be set with the \c import commands as
    documented in @ref jniimport.

    Explicit class loaders can also be used as in Java as in the following example:
    @code{.py}
    softlist<URL> urls = (new URL("file:///my/dir/my-api.jar"));
    URLClassLoader classLoader(urls);
    Class myClass = classLoader.loadClass("MyClass");
    @endcode

    @note The class loader supplied by this module, @ref org.qore.jni.QoreURLClassLoader, supports dynamic bytecode
    generation from Python and %Qore imports.

    Same-path classes projected as \c qore.<i>Namespace</i>.<i>Class</i> are Program-local by default because separate
    %Programs can legitimately provide different implementations at the same path.  Applications that pass objects
    of one semantically identical %Qore API class between sibling Program classloaders must register that exact Java
    binary name before loading it in any participating Program:
    @code{.qore}
%module-cmd(jni) register-shared-class qore.MyApi.Request
    @endcode
    The first registering Program becomes the process-wide owner for that name, and registration by other Programs is
    idempotent.  Registering after two loaders have already defined the name raises an error because an existing JVM
    class-identity split cannot be repaired.  Do not register a name whose Qore definitions differ between Programs.

    @subsection jni_exceptions Java Exceptions in Qore

    If a @ref org.qore.jni.QoreException exception is thrown, then it is mapped directly to a Qore exception.

    Other Java exceptions are mapped to the %Qore @ref Qore::ExceptionInfo "ExceptionInfo" hash as follows:
    - \c err: always \c "JNI-ERROR"
    - \c desc: the full Java class name of the exception class; ex: \c "java.lang.RuntimeException"
    - \c arg: the exception object itself as a %Qore object wrapping the Java object

    Exception locations including call stack locations reflect the actual Java source location(s), and in such cases
    the \c lang attribute will be \c "Java". Negative Java source line numbers, including the native-method
    sentinel \c -2, are exposed as Qore's unknown-location sentinel \c -1. Available source line numbers are preserved.

    @section jni_from_java Using the jni Module From Java

    Java code can use the jni module and Java classes based on %Qore code by calling
    @ref org.qore.jni.QoreJavaApi.initQore() to initialize the Qore library and the jni module with an existing JVM
    session.  This requires the platform-dependent \c qore library to be found in a directory set in the
    \c java.library.path or by setting the \c QORE_LIBRARY environment variable to the absolute path of the \c qore
    library.

    If neither of these are set, then calling @ref org.qore.jni.QoreJavaApi.initQore() will result in a
    \c java.lang.UnsatisfiedLinkError exception being raised.

    All Java classes for %Qore support are located in the \c qore-jni.jar file.

    Example Java source:
    @code{.java}
import org.qore.lang.qunit.*;

class MyTest {
    public static void main(String[] args) throws Throwable {
        Test test = new Test("MyTest", "1.0");

        test.addTestCase("test", () -> doTest(test));
        test.main();
    }

    private static void doTest(Test test) throws Throwable {
        test.assertTrue(true);
    }
}
    @endcode

    Example compilation command:
    @verbatim
    javac -cp qore-jni.jar MyTest.java
    @endverbatim

    Example run command:
    @verbatim
    java -Djava.library.path=/usr/local/lib -cp qore-jni.jar:. MyTest
    @endverbatim

    @subsection jni_dynamic_import_in_java Importing Qore and Python APIs Dynamically in Java

    Dynamic %Qore and Python API imports are supported with \c qore-jni.jar at runtime; \c qore-jni-compiler.jar
    contains a compiler API that can build bytecode that supports providing dynamic imports to the Java compiler as
    well.

    At runtime, only the \c qore-jni.jar file (and an accessible Qore shared library) are needed.

    @subsubsection jni_dynamic_imports Dynamic Import Statements

    The following special packages provide access to dynamically-generated classes:
    - <b><tt>python.</tt></b><i>[path...]</i>: indicates that the given path should be imported from %Python to Java
      (after being imported to %Qore if necessary).  Only use for %Python symbols not provided by a %Python module.
    - <b><tt>pythonmod.</tt></b><i>mod</i><b><tt>.</tt></b><i>[path...]</i>: indicates that the given %Python module
      should be loaded and imported into %Qore and the given symbols should be imported into Java.  %Python symbols
      provided by modules should be referenced with import statements using \c pythonmod as the symbols imported into
      Java will use such package names as well.
    - \c \b qore: indicates that the given path should be mapped to %Qore namespaces and/or classes; the Java package
      segments after <tt><b>qore.</b></tt> are then converted to the equivalent %Qore namespace path; cannot be used
      for %Qore symbols provided by modules
    - <b><tt>qoremod.</tt></b><i>mod</i><b><tt>.$</tt></b><i>[path...]</i>: indicates that the given %Qore module
      should be imported into the program container, and the given symbols should then be imported into Java.  %Qore
      symbols provided by modules must be referenced with import statements using \c qoremod as the symbols imported
      into Java will use such package names as well.

    For example:
    - <b><tt>import pythonmod.json.JSONEncoder;</tt></b> would cause the \c json Python module to be loaded and imported
      into %Qore and the \c JSONEncoder class to be imported into Java
    - <b><tt>import qore.Qore.Thread.ThreadPool;</tt></b> would cause the %Qore <tt>::Qore::Thread::ThreadPool</tt>
      class to be imported automatically into Java
    - <b><tt>import qoremod.RestClient.RestClient;</tt></b> would cause the \c RestClient %Qore module to be loaded
      and the \c RestClient class to be imported into Java

    %Qore and Python classes imported as above can then be used as Java classes for instantiation or as base classes
    for Java subclasses.

    @note
    - %Qore acts as a "language bridge" between Python and Java; Python can also inherit Java classes using a
      similar mechanism; Java classes are imported into %Qore and then the wrapper %Qore classes are imported
      dynamically into Python
    - The \c pythonmod and \c qoremod magic packages are used to ensure that modules are imported both at compile and
      runtime and that the resulting dynamically-generated Java classes have consistent binary names
    - Symbols imported from %Qore modules can be treated as non-module symbols by using the \c mark-module-injected
      module command; ex: @code{.qore} %module-cmd(jni) mark-module-injected InjectedModule @endcode would mark all
      symbols from %Qore module \c InjectedModule as non-module symbols
    - %Qore and %Python definitions imported into Java from the \c qoremod and \c pythonmod packages will be anchored
      under this package name even if definitions from other namespaces (from %Qore imports) are imported

    @see @ref jni_qore_object_lifecycle_default

    @par Importing Functions Into Java

    %Qore and Python functions can be imported using the special <tt><b>$Functions</b></tt> class name; functions in a
    %Qore namespace are imported automatically into a special class with this name as static methods in the
    corresponding dynamic Java package.

    @par Importing Constants Into Java

    %Qore constants can be imported using the special <tt><b>$Constants</b></tt> class name; constants in a %Qore
    namespace are imported automatically into a special class with this name as <tt><b>static final</b></tt> fields in
    the corresponding dynamic Java package.

    @subsubsection jni_dynamic_import_classloader Running Java Programs Using Dynamic Imports

    You must use the @ref org.qore.jni.QoreURLClassLoader class as the system classloader to run Java bytecode using
    dynamic imports.

    For example:
    @verbatim java -cp jars/my-jar.jar:jars/qore-jni.jar:. -Djava.system.class.loader=org.qore.jni.QoreURLClassLoader
        MyClass @endverbatim

    In case the Qore shared library cannot be found automatically, you may need to set the \c QORE_LIBRARY environment
    variable to the library's location as in the following example:
    @verbatim QORE_LIBRARY=/opt/qorus/lib/libqore.so java -cp jars/my-jar.jar:jars/qore-jni.jar:.
        -Djava.system.class.loader=org.qore.jni.QoreURLClassLoader MyClass @endverbatim

    @subsection jni_dynamic_imports_compile Using Dynamic API Imports While Compiling

    The @ref org.qore.jni.compiler.QoreJavaCompiler class must be used to compile bytecode using dynamic imports.

    The standard \c javac program wil not work, because it is not capable of understanding or generating the bytecode
    for the dynamic imports in the special Java package.

    Here is a Java example using the compiler:
    @code{.java}
import org.qore.jni.compiler.QoreJavaCompiler;
import org.qore.jni.compiler.CompilerOutput;

import java.nio.file.Files;

// compile and execute QoreDynamicTest.java
class MyCompiler {
    public static void main(String[] args) {
        QoreJavaCompiler compiler = new QoreJavaCompiler();
        CompilerOutput newClassData = compiler.compile("org.qore.test.QoreDynamicTest",
            Files.readString("./QoreDynamicTest.java", StandardCharsets.UTF_8));
        // get byte code with: newClassData.file.openInputStream().readAllBytes()
        Object obj = newClassData.cls.getDeclaredConstructor().newInstance();
        // ...
    }
}
    @endcode

    And here is a %Qore example:
    @code{.py}
#!/usr/bin/env qore
# -*- mode: qore; indent-tabs-mode: nil -*-

%new-style
%require-types
%strict-args
%enable-all-warnings

%requires jni

%module-cmd(jni) add-relative-classpath $MY_JARS/qore-jni.jar
%module-cmd(jni) add-relative-classpath $MY_JARS/qore-jni-compiler.jar

%module-cmd(jni) import org.qore.jni.compiler.QoreJavaCompiler
%module-cmd(jni) import org.qore.jni.compiler.CompilerOutput

# compile and execute QoreDynamicTest.java
QoreJavaCompiler compiler();
compiler::CompilerOutput newClassData = compiler.compile("org.qore.test.QoreDynamicTest",
    File::readTextFile(get_script_dir() + "/QoreDynamicTest.java"));
# get byte code with: newClassData.file.openInputStream().readAllBytes();
Object obj = newClassData.cls.getDeclaredConstructor().newInstance();
# ...
    @endcode

    @note
    - The \c qjavac helper script can be used to compile Java sources to class files; ex
      @verbatim qjavac -cp my-jar.jar MySource.java @endverbatim
    - The \c qjava2jar helper script can be used to compile Java sources using dynamic imports to a \c jar file;
      ex: @verbatim qjava2jar my-jar.jar source_path -cp some-api.jar:another-api.jar -nowarn @endverbatim
    - The \c qkotlinc helper script can be used to compile Kotlin sources that use Qore APIs; ex
      @verbatim qkotlinc -cp my-jar.jar MySource.kt @endverbatim

    @section jni_compat JNI Module Compatibility Options

    This module supports the following compatibility option: \c "compat-types" which, when enabled, will disable the
    following type conversions:
    - Java \c byte[] to \c binary; instead this will converted to \c list<int>
    - Java \c java.util.Map to \c hash; instead this will be converted directly

    This option can be set globally for all Program objects with
    <tt>set_module_option("jni", "compat-type", True)</tt> or
    locally for the current Program container with the \c set-compat-type module parse option like:
    <tt>%module-cmd(jni) set-compat-type true</tt> or <tt>%module-cmd(jni) set-compat-type false</tt> to
    override the global setting.

    @section jni_types Type Conversions Between Qore and Java

    The \c jni module uses reflection to automatically map Java classes to Qore classes.  This class mapping and Qore
    class creation happens at parse time (when @ref jniimport "importing Java APIs" into %Qore) and also at runtime
    (if a new class is encountered that has not already been mapped).

    There are two types of conversions from %Qore to Java:
    - @ref jni_qore2java_specific "Qore to Java Defined Type Conversions": when the type is known in advance
    - @ref jni_qore2java_default "Qore to Java Default Type Conversions": when the type is \c java.lang.Object

    @subsection jni_qore2java_specific Qore to Java Defined Type Conversions

    The following table describes type conversions for Java types when the \c jni module must convert a %Qore value to
    the declared type:

    Qore to Specific Java Type Conversions
    |!Target Java Type|!Source %Qore Type
    |\c boolean|any; conversions are made like with @ref Qore::boolean() "boolean()"
    |\c byte|any; conversions are made like with @ref Qore::int() "int()"
    |\c char|any; conversions are made like with @ref Qore::int() "int()"
    |\c short|any; conversions are made like with @ref Qore::int() "int()"
    |\c int|any; conversions are made like with @ref Qore::int() "int()"
    |\c long|any; conversions are made like with @ref Qore::int() "int()"
    |\c float|any; conversions are made like with @ref Qore::float() "float()"
    |\c double|any; conversions are made like with @ref Qore::float() "float()"

    For other types, @ref jni_qore2java_default "default conversions" are used.

    @subsection jni_qore2java_default Qore to Java Default Type Conversions

    The following table describes type conversions for Java types when the \c jni module must convert a %Qore value to
    the declared type:

    Qore to Java Default Type Conversions
    |!Source %Qore Type|!Target Java Type
    |@ref bool_type "bool"|\c boolean
    |@ref int_type "int"|\c long
    |@ref float_type "float"|\c double
    |@ref string_type "string"|\c java.lang.String
    |@ref date_type "date"|\c java.lang.Object (compile time) or \c java.time.ZonedDateTime or \
        @ref org.qore.jni.QoreRelativeTime (runtime)
    |@ref number_type "number"|\c java.math.BigDecimal
    |@ref binary_type "binary"|\c byte[]
    |@ref nothing_type "NOTHING" and @ref null_type "NULL"|\c void
    |@ref list_type "list"|java Arrays of the list type; if no list type can be found, then the Array type is \
        \c java.lang.Object
    |@ref hash_type "hash"|@ref org.qore.jni.Hash (extends \c java.util.LinkedHashMap), however any type \
        implementing \c java.util.Map that has a constructor that takes no arguments and a compatibule \c put() \
        method will be constructed / converted automatically to the desired type
    |@ref code_type "code" (closure or call reference)|@ref org.qore.jni.QoreClosure
    |@ref Jni::org::qore::jni::JavaArray "JavaArray"|\c java.lang.Array
    |@ref object_type "object"|to the Java class if the Qore object is an instantiation of \c java.lang.Object, \
        otherwise @ref org.qore.jni.QoreObject
    |all \c jni objects|direct conversion

    @note
    - %Qore 64-bit integers are automatically converted to 64-bit Java long values; to get a Java \c int value; use:
      @code{.py} new Integer(val) @endcode
    - see @ref jni_arrays for more information about conversions between %Qore lists and Java arrays

    @subsection jni_java_to_qore Java to Qore Type Conversions

    Java to %Qore Type Conversions
    |!Source Java Type|!Target %Qore Type
    |\c boolean|@ref bool_type "bool"
    |\c byte|@ref int_type "int"
    |\c byte[]|@ref binary_type "binary" (see also @ref jni_compat)
    |\c char|@ref int_type "int"
    |\c short|@ref int_type "int"
    |\c int|@ref int_type "int"
    |\c long|@ref int_type "int"
    |\c float|@ref float_type "float"
    |\c double|@ref float_type "double"
    |\c java.lang.String|@ref string_type "string"
    |\c java.sql.Date|@ref date_type "date" (@ref absolute_dates "absolute date")
    |\c java.sql.Time|@ref date_type "date" (@ref absolute_dates "absolute date" based on \c 1970-01-01)
    |\c java.sql.Timestamp|@ref date_type "date" (@ref absolute_dates "absolute date")
    |\c java.time.ZonedDateTime|@ref date_type "date" (@ref absolute_dates "absolute date")
    |\c java.time.LocalDateTime|@ref date_type "date" (@ref absolute_dates "absolute date", no timezone)
    |\c java.time.Instant|@ref date_type "date" (@ref absolute_dates "absolute date", UTC)
    |<tt>@ref org.qore.jni.QoreRelativeTime</tt>|@ref date_type "date" (@ref relative_dates "relative date")
    |\c java.math.BigDecimal|@ref number_type "number"
    |\c java.lang.AbstractArray and arrays|@ref list_type "list"
    |\c java.util.Map|@ref hash_type "hash" (see also @ref jni_compat)
    |<tt>@ref org.qore.jni.QoreClosure</tt>|@ref code_type "code"
    |<tt>@ref org.qore.jni.QoreClosureMarker</tt>|@ref code_type "code"
    |all other objects|direct conversion

    @note see @ref jni_arrays for more information about conversions between %Qore lists and Java arrays

    @subsection jni_arrays Java Arrays

    Arrays are mapped directly to and from Qore lists.  When converting from a Qore list to a Java array, the list is
    scanned, and if it can be mapped to a single Java type, then an array of that type is created.  Otherwise, an
    array of \c java.lang.Object is created and the %Qore values are mapped directly to Java values.

    An empty %Qore list becomes an empty \c Object[] when no Java array component type is specified, including
    lists nested in hashes or other lists.  Empty lists remain distinct from \c null.  If a Java parameter
    specifies an array type such as \c String[] or \c long[], an empty list produces an empty array of that type.

    %Qore lists are passed by value and Java arrays are objects (which, like %Qore objects, are passed with a copy of
    a reference to the object).  To get similar functionality in %Qore, you can use the
    @ref Jni::org::qore::jni::JavaArray "JavaArray" class supplied with the \c jni module, which is automatically
    converted to a Java array object like a list, but is also passed with a copy of a reference to the object in
    %Qore.

    @subsubsection jni_array_varargs Java Arrays as Variable Arguments

    When a Java method declares variable arguments, such arguments must be generally given as a single array value (so
    a %Qore list or @ref Jni::org::qore::jni::JavaArray "JavaArray" object).  Consider the following example:
    @code{.py}
    StringBuilder stringBuilder("");
    lang::Class stringBuilderClass = lang::Class::forName("java.lang.StringBuilder");
    Method stringBuilderAppendLong = stringBuilderClass.getMethod("append", (Long::TYPE,));
    stringBuilderAppendLong.invoke(stringBuilder, (20,));
    printf("%y\n", stringBuilder.toString());
    @endcode

    In the above example, the \c java.lang.Class.getMethod() and the \c java.lang.Method.invoke() methods both take a
    variable number of arguments after the first argument.  In the mapped Qore class, these must be given as a %Qore
    list (as in the above example) or a @ref Jni::org::qore::jni::JavaArray "JavaArray" object.

    If the last argument of a Java method has an array type, then the arguments in Qore can also be given in the flat
    argument list, and the final array argument will be created automatically for the call.

    Because of this, the example above also works as follows:
    @code{.py}
    StringBuilder stringBuilder("");
    lang::Class stringBuilderClass = lang::Class::forName("java.lang.StringBuilder");
    Method stringBuilderAppendLong = stringBuilderClass.getMethod("append", Long::TYPE);
    stringBuilderAppendLong.invoke(stringBuilder, 20);
    printf("%y\n", stringBuilder.toString());
    @endcode

    @section jni_qore_object_lifecycle_management Managing the Lifecycle of Qore objects from Java

    %Qore's deterministic garbage collection approach and reliance on destructors means that %Qore objects created by
    Java must have their lifecycles managed externally.

    Java objects wrapping %Qore objects (such as @ref org.qore.jni.QoreObject and @ref org.qore.jni.QoreObjectWrapper)
    hold only weak references to %Qore objects.

    Java methods in the jni module that explicitly save strong references to %Qore objects are as follows:
    - @ref org.qore.jni.QoreObject.callMethodSave()
    - @ref org.qore.jni.QoreObject.callMethodArgsSave()
    - @ref org.qore.jni.QoreJavaApi.callFunctionSave()
    - @ref org.qore.jni.QoreJavaApi.callStaticMethodSave()
    - @ref org.qore.jni.QoreJavaApi.newObjectSave()

    The strong reference to any %Qore object returned by the preceding methods is managed in one of two ways
    described in the following sections.

    @subsection jni_qore_object_lifecycle_default Default Qore Object Lifecycle Management

    By default, %Qore objects are saved in thread-local data, so the lifecycle of the object is automatically limited
    to the existence of the thread.

    The thread-local hash key name used to save the list of objects created is determined by the value of the
    \c "_jni_save" thread-local key, if set.  If no such key is set, then \c "_jni_save" is used instead as the
    literal key for saving the list of objects.

    @note To register a Java thread in %Qore and therefore to ensure that %Qore object data is persistent in a native
    Java thread, call @ref org.qore.jni.QoreJavaApi.registerJavaThread() and then
    @ref org.qore.jni.QoreJavaApi.deregisterJavaThread() before the Java thread terminates, when you are done working
    with %Qore data, otherwise %Qore objects will be immediately deleted when the implicit %Qore thread registration
    expires after each %Qore API call.

    @subsection jni_qore_object_lifecycle_explicit Explicit Qore Object Lifecycle Management

    The lifecycle of %Qore objects can be managed explicitly by using the
    @ref Jni::org::qore::jni::set_save_object_callback() "set_save_object_callback()" function to set a callback that
    is called every time a %Qore object is created using the Java API.

    This callback must take a single object argument as in the following example:

    @code{.py}
hash<string, object> object_cache;
code callback = sub (object obj) {
    # save object in object cache, so it doesn't go out of scope
    object_cache{obj.uniqueHash()} = obj;
}
set_save_object_callback(callback);
    @endcode

    @section jni_thread_stacks Java Thread Stack size

    The Java thread stack size is set when the JVM is initialized in the \c jni module's initialization code based on
    the %Qore thread stack size.

    Note that the JVM establishes its own stack guard implementation and enforces stack sizes, even for %Qore code and
    native threads, as a result, the %Qore thread stack size limitation is also applied to the primary process thread,
    which otherwise (at least on Linux, for example), normally has a larger limit (normally 8MB on Linux).

    Therefore if the %Qore thread stack size is set to 512KB (for example), the Java thread stack size limit as well
    as the primary thread's stack size limit is set to 512KB when the \c jni module is initialized.

    The %Qore library's default thread stack size is 8MB.  This is much larger than the standard 1MB stack size for
    the JVM, however, since thread stacks are generally allocated from overcommitted memory, meaning that they start
    small and only grow on demand, a larger thread stack size does not imply a larger memory footprint for programs
    that do not require large stacks.

    @section jdbc_driver jdbc DBI Driver for Qore

    This module implements the \c "jdbc" driver for %Qore to allow %Qore (as well as other languages such as %Python
    that use %Qore as a "language bridge") to access data in databases with jdbc drivers.

    To use the \c jdbc DBI driver, use the driver name \c "jdbc".

    %Qore datasource strings do not follow the same format as standard Java JDBC URL strings, so some care must be
    taken when creating the %Qore datasource strings for the jdbc driver.

    The format for %Qore datasource strings with the jdbc driver is as follows:
    <tt><b>jdbc:</b>[</tt><em>user</em><tt>]/[</tt><em>pass</em><tt>]\@</tt><em>db</em><tt>[{</tt><em>option</em><tt>=</tt><em>val</em><tt>[,...]}]</tt> \n
    where all elements except <tt>\@</tt><em>db</em> are optional.

    The \a host, \a port, and \a charset values in %Qore datasource strings are ignored; the host and port must be
    given in the \a db value, and, if the jdbc driver's URL format requires the use of \c @ or \c : characters, then
    a dummy value must be provided for the \a db value, and the @ref jdbc_option_url "url option" must be used
    instead.

    Some example %Qore datasource strings for the \c jdbc driver:
    - <tt>jdbc:user/pass@postgresql:dbname{classpath=/usr/share/java/postgresql.jar}</tt>
    - <tt>jdbc:user/pass@firebird:?serverName=hq&databaseName=/var/lib/firebird/data/mydb.fdb&encoding=WIN1252{classpath=/usr/share/java/jna-5.12.1.jar:/usr/share/java/jaybird-5.0.0.java11.jar}</tt>
    - <tt>jdbc:user/pass@ignored{url=oracle:thin:@hostname:1521:dbserver,classpath=/usr/lib/oracle/21/client64/lib/ojdbc8.jar}</tt>

    @note the initial \c jdbc: in the \c db value is optional; if missing, it is added automatically by the %Qore
    \c jdbc driver when the internal URL string is passed to the internal Java JDBC call.

    @subsection jdbc_columnar_results jdbc Columnar Result Support

    When module-jni is built against %Qore headers exposing the columnar result API, the \c jdbc DBI driver provides
    native implementations of \c Datasource::selectColumnar() and \c SQLStatement::fetchColumnar().  Fixed-width JDBC
    result types are returned as dense %Qore buffers:
    - \c TINYINT, \c SMALLINT, \c INTEGER, and \c BIGINT map to \c buffer<*int8>, \c buffer<*int16>,
      \c buffer<*int32>, and \c buffer<*int64>
    - integer \c NUMERIC / \c DECIMAL values with precision <= 18 map to \c buffer<*int64>
    - other \c NUMERIC / \c DECIMAL values with precision <= 38 map to \c buffer<*decimal128> when module-jni
      is built against %Qore headers exposing the decimal128 buffer API
    - \c REAL, \c FLOAT, and \c DOUBLE map to \c buffer<*float32> or \c buffer<*float64>
    - \c BOOLEAN and \c BIT map to \c buffer<*bool>
    - character columns map to \c buffer<*string>
    - \c DATE and \c TIMESTAMP values carry logical date/timestamp schema metadata and map to microsecond
      \c buffer<*int64> columns when the linked %Qore runtime supports dense temporal column conversion

    Decimal values that exceed decimal128 limits, or builds against %Qore headers without the decimal128 buffer API,
    are returned as lists with JDBC precision and scale metadata.  Binary and driver-specific values are returned
    through the compatibility list path with schema metadata where the JDBC type is known.

    @par Columnar JDBC Example
    @code
Datasource ds("jdbc:user/pass@ignored{url=postgresql://db.example.com/sales,classpath=/usr/share/java/postgresql.jar}");
ds.open();

ColumnarResult result = ds.selectColumnar(
    "select id, customer_name, total, active from orders order by id");

buffer<*int64> ids = result.getColumn("id");
buffer<*string> customers = result.getColumn("customer_name");
buffer<*bool> active = result.getColumn("active");

foreach hash<auto> column in (result.schemaV2()) {
    printf("%s: %s%s\n", column.name, column.kind, column.nullable ? " nullable" : "");
}
    @endcode

    Builds against older %Qore releases that do not expose the columnar result API keep the previous \c jdbc DBI
    behavior and do not register these native columnar DBI hooks.

    @subsection jdbc_driver_options jdbc DBI Driver Options

    The jdbc driver supports the following DBI options:
    - \c "classpath": @ref jdbc_option_classpath "sets the classpath" with jar or class files providing the \c jdbc
      driver
    - \c "numeric-numbers": return received \c SQL_NUMERIC and \c SQL_DECIMAL values as arbitrary-precision numbers
      (Qore number values)
    - \c "optimal-numbers": return received \c SQL_NUMERIC and \c SQL_DECIMAL values as integers if possible, if not
      return them as an arbitrary-precision numbers; this is the default
    - \c "string-numbers": return received \c SQL_NUMERIC and \c SQL_DECIMAL values as strings (for backwards-
      compatibility)
    - \c "url": @ref jdbc_option_url "sets the URL" for the \c jdbc driver in case the database value in the %Qore
      datasource connection string cannot accommodate the \c jdbc URL because of special characters

    @note By default \c optimal-numbers is set on the driver for maximum compatibility with other %Qore DBI drivers

    @subsubsection jdbc_option_classpath jdbc classpath Option

    The \c classpath option allows for the classpath to be set before the JVM loads the Java \c jdbc driver.  The
    value of this option must be a string and is subject to environment variable substitution before being used.

    If this option is used, then the \c java.util.ServiceLoader for \c "java.sql.Driver" objects is run and iterated
    after updating the classpath, to ensure that any new drivers are loaded and available to drivers loaded after the
    initial driver is loaded, otherwise the \c java.sql.DriverManager will not see the new drivers as they were not
    present in the classpath during on-demand static initialization).

    @subsubsection jdbc_option_url jdbc url Option

    The \c url option allows for \c jdbc URLs to be used that contain special characters like \c @ and \c : that would
    cause the datasource to fail to parse when used as a database name.

    @par url Option Example
    @verbatim
    Datasource ds("jdbc:user/pass@ignored{url=oracle:thin:@hostname:1521:dbserver,classpath=/usr/lib/oracle/21/client64/lib/ojdbc8.jar}");
    @endverbatim

    @note the initial \c jdbc: in the url option is optional; if missing, then it is added automatically by the %Qore
    jdbc driver when the internal URL string is passed to the internal Java JDBC call.

    @section jnireleasenotes jni Module Release Notes

    @subsection jni_2_7_0 jni Module Version 2.7.0
    - fixed JVM-primary processes aborting or hanging at exit, after the Java code had already
      completed successfully, with the message <tt>external native threads still active while
      stopping the cleanup worker</tt>; the system classloader's JVM shutdown hook was never
      registered when the JVM owns the process, and now runs the documented \c qore_cleanup()
      teardown, so %Qore \c ThreadPool workers and the process-wide async I/O controller are
      stopped before libqore's static destructors run
    - fixed empty %Qore lists converting to Java \c null when passed as objects or nested in hashes and lists;
      they now become empty \c Object[] arrays, allowing empty OPC UA address spaces to be described and
      exported as NodeSet2 XML (<a href="https://github.com/qoretechnologies/qore/issues/5446">issue 5446</a>)
    - allow empty trailing argument slices when converting typed Java varargs in Debug builds
    - check Java exception metadata calls before validating their local references, avoiding JNI checker
      warnings during conversion failures and preserving the original exception if \c getMessage() throws
    - release temporary Java class wrappers when recursive or duplicate class resolution reuses an existing
      class, including exception-safe cleanup before the new class takes ownership
    - fixed Java exceptions with native stack frames aborting Debug Qore: unavailable Java line numbers
      are normalized to the Qore unknown-location sentinel while retaining exception and frame metadata
    - <b>Added explicit shared identity for dynamically projected %Qore classes</b>
      - <b>Symptom.</b> Passing an object between two Java-enabled %Programs could fail with
        \c ClassCastException even when the object's projected class inherited the requested type; the exception
        named two sibling \c QoreURLClassLoader instances for the same Java binary name.
      - <b>Cause.</b> Parent delegation already preserves identity along a classloader ancestry chain, but separate
        %Program loaders are siblings.  When an application intentionally exposes the same non-module %Qore API
        class in multiple Programs, each sibling could dynamically define its own Java \c Class object.
      - <b>Fix.</b> The new \c register-shared-class module command lets an application opt an exact
        \c qore.* or \c qoremod.* name into one process-wide identity before it is loaded.  The first registering
        Program owns the definition; sibling loaders delegate to it.  Unregistered same-path classes remain
        Program-local, preserving applications whose implementations intentionally differ.
    - <b>Fixed the process aborting during <tt>exit()</tt> when the jni module is loaded</b>
      - <b>Symptom.</b> A program that loaded the jni module and then called \c exit() aborted
        instead of exiting, losing the exit status the script had set; on macOS the process died
        with <tt>libc++abi: terminating due to uncaught exception of type std::system_error: mutex
        lock failed: Invalid argument</tt>.  On Linux the same defect was silent, so it appeared to
        affect only macOS.
      - <b>Cause.</b> The module namespace cache and the lock protecting it were objects with static
        storage duration in the module.  Objects with static storage duration are destroyed in
        reverse order of construction, and the module's program-cleanup callback - which purges that
        cache - runs from the destructor of an object constructed earlier, so the cache and its lock
        were destroyed first and then used by that later destructor.  glibc silently tolerates
        locking a destroyed mutex; macOS returns \c EINVAL, which libc++ turns into an uncaught
        exception.
      - <b>Fix.</b> The cache and its lock are now allocated once and never destroyed, so they stay
        usable for the entire life of the process.
    - <b>Fixed Java objects passed to a %Qore callback not matching their declared %Qore class</b>
      - <b>Symptom.</b> Assigning an argument of a %Qore callback implementing a Java interface to a
        variable declared with the argument's own Java class failed with
        <tt>RUNTIME-TYPE-ERROR: &lt;lvalue&gt; expects type 'object&lt;<i>X</i>&gt;', but got an object
        of class '<i>X</i>'</tt> &mdash; naming the same class on both sides.  Affected classes loaded
        from a dynamically added JAR; where the exception was caught and logged, the only visible
        effect was that callbacks silently stopped delivering data.
      - <b>Cause.</b> \c QoreCodeDispatcher bound to the thread-current %Program at construction
        instead of the %Program owning the callback.  The %Program established for the call decides
        which %Program's JNI class map wraps the arguments, so when the two differed, the class map
        built a second %Qore class for the same Java class; because that %Program's classloader
        cannot see dynamically added JARs, types in its signature that referred to classes from those
        JARs were relaxed to \c auto.  The resulting class does not compare equal to the one the
        callback's declared types refer to.
      - <b>Fix.</b> The dispatcher now binds to the %Program that owns the callback, taken at
        construction while the callback is known to be alive, so the callback always executes in the
        %Program its code was compiled in and Java arguments resolve to the classes that %Program
        imported.
    - <b>Java classes that cannot be loaded while building a class are now reported</b>
      - <b>Symptom.</b> A type appearing in a Java signature could be silently relaxed to \c auto,
        producing a %Qore class that looks identical to one built elsewhere but does not compare equal
        to it, so objects of one did not satisfy declared types of the other.  Nothing was reported in
        release builds.
      - <b>Fix.</b> The relaxation is unchanged &mdash; it must not be fatal, since Java itself loads
        classes whose unused signatures mention absent types, and optional dependencies are common
        &mdash; but it is now reported to \c stderr once per Java class, naming the class, the
        underlying Java exception and the consequence.
    - <b>Fixed dynamic Java classes binding to another Program's class of the same name</b>
      - <b>Symptom.</b> Java code calling a \c qore.<i>X</i>.<i>Y</i>... API could be bound to a
        same-named class belonging to an unrelated %Program in the process, so calls dispatched to
        the wrong implementation.  In Qorus this bound server-side Java interfaces to the
        \c QorusClient variant of \c OMQ::UserApi::UserApi, which failed at runtime with
        <tt>no pseudo method &lt;nothing&gt;::getClientLogger()</tt>.
      - <b>Cause.</b> A \c qore.<i>X</i>.<i>Y</i>... binary name addresses a namespace path, and two
        %Programs in one process can legitimately hold different classes at the same path.
        Canonical classloader resolution scanned every loaded user-module %Program for that path
        before consulting the calling %Program, so it bound to whichever module happened to be
        iterated first &mdash; and cached that answer process-wide, keyed by the binary name alone,
        for every later caller.
      - <b>Fix.</b> The class is now resolved from the calling %Program's own view first and routed
        to that class's source %Program, which keeps a single Java \c Class per %Qore class across
        all %Programs that import it.  The module scan remains as a fallback for callers that
        cannot see the class at all, and caller-dependent results are no longer written to the
        process-wide cache.  Built-in and module-provided classes are unaffected.
    - <b>Fixed a deadlock between Java class import and concurrent module loading</b>
      - <b>Symptom.</b> A process could hang with many threads blocked while loading modules, most
        visibly at startup when several services were initialized at once.  Any Java class import
        racing a cold module load could trigger it; once hit, all further module loading in the
        process stopped, so HTTP listeners stopped responding and shutdown could not complete.
      - <b>Cause.</b> Importing a Java class takes the module's global class-map lock, and doing so
        can load a module &mdash; directly, or indirectly when the JVM classloader calls back into
        %Qore to generate byte code.  Meanwhile a cold module load holds libqore's module-load lock
        while applying the module's AOT module commands, which import Java classes and so need the
        class-map lock.  The two locks could be taken in either order, so two threads could each
        end up holding the lock the other needed.
      - <b>Fix.</b> The module now acquires libqore's module-load lock before the class-map lock on
        every path that can reach module loading, giving both orders a single, consistent
        hierarchy.  Cache-hit paths that cannot load a module or call into Java keep taking the
        class-map lock alone, so ordinary Java class resolution is not serialized; debug builds
        assert that this remains true.
    - <b>Breaking change: module classes are exposed only under \c qoremod.<i>mod</i>.<i>rest</i></b>
      - <b>What changed.</b> %Qore module classes are now exposed in Java under exactly one
        canonical binary name: \c qoremod.<i>mod</i>.<i>rest</i>.  Older module-jni versions
        also accepted the legacy \c qore.<i>mod</i>.<i>rest</i> shape (e.g.
        \c qore.SqlUtil.AbstractTable resolving to the \c SqlUtil module's \c AbstractTable),
        but doing so produced two distinct Java \c Class objects backed by the same
        \c QoreClass.  At runtime that aliasing surfaced as
        \c LinkageError("loader constraint violation") on subclass / parent override
        resolution and \c ClassCastException on legitimate casts across the boundary.
      - <b>What now happens.</b> Looking up \c qore.<i>X</i>.<i>Y</i> for a module-owned
        class raises \c ClassNotFoundException; the message points at the canonical
        \c qoremod.<i>mod</i>.<i>rest</i> form to use instead.  Built-in
        \c qore.Qore.<i>...</i> classes (e.g. \c qore.Qore.SQL.AbstractDatasource) and
        per-Program runtime-namespace classes (e.g. \c qore.OMQ.<i>...</i> in Qorus,
        codegen-test fixture classes) keep working unchanged.
      - <b>What you must do.</b> If you have pre-compiled Java bytecode or Java source that
        imports \c qore.<i>mod</i>.<i>rest</i> for a module-owned class, re-emit / re-import
        it as \c qoremod.<i>mod</i>.<i>rest</i>.  In practice this is one mechanical
        substitution per affected import statement; the qjar / qjava2jar / docs build
        toolchain and any code generated by current module-jni already produce the canonical
        form, so a clean rebuild is sufficient.
      - <b>Migration helper.</b> A source-level rewrite tool is shipped with the module:
        @code
qjava-migrate-imports --dry-run -v <java-source-dir>          # preview rewrites
qjava-migrate-imports --in-place --backup <java-source-dir>   # apply, .bak per file
        @endcode
        It rewrites \c qore.<i>X</i>.<i>Y</i> to \c qoremod.<i>X</i>.<i>Y</i> for every
        leading segment <i>X</i> that isn't on a keep-list (default: \c Qore, \c OMQ).
        Use \c --keep=<i>A</i>,<i>B</i>,... to extend the keep-list when your codebase
        uses additional per-Program runtime namespaces under \c qore.<i>...</i>.  Run with
        \c --dry-run first so you can audit the rewrites against your loaded-modules list
        (\c qore -l <i>mod</i> \c -ne \c "" verifies a module is loadable).
      - <b>Why a hard cut, not a deprecation flag.</b> Keeping the legacy form on a
        compatibility flag would re-introduce the dual-Class problem: every loader chain
        that needs the same module type would still independently produce two parallel
        \c Class objects, leaving the loader-constraint and cast errors in place.  The
        canonical-only design is what ensures cross-loader instances of the same QoreClass
        share one Java identity.
      - <b>Qore generic class signatures.</b> When built against Qore headers exposing
        \c QORE_HAVE_GENERIC_CLASSES, generated Java classes now preserve parameterized
        Qore parent, interface, method return, and method argument types in their generic
        signatures.  For example, Java code can compile against
        <tt>qore.Qore.AbstractIterator&lt;String&gt;</tt> when the underlying Qore class is
        <tt>AbstractIterator&lt;string&gt;</tt>.  The build keeps compatibility with plain
        Qore releases that do not expose this API by falling back to raw Java class
        signatures.
      - <b>Cross-loader sharing.</b> Even with the canonical name, a class can still get
        loaded into multiple \c QoreURLClassLoader instances (qjar, docs builds, and Qorus
        workflow Programs each create their own).  module-jni now defines each
        \c qoremod.<i>mod</i>.<i>...</i> class in exactly one place — the
        \c QoreURLClassLoader of the owning user module's QoreProgram — and every consumer
        Program delegates \c loadClass / \c define-class for that prefix to it.  The
        module's Program lazily acquires a JNI classloader on first access, so modules that
        don't \c \%requires \c jni themselves still have a single canonical home for their
        Java classes.  \c qore.Qore.<i>...</i> built-ins (which have no owning user Program)
        keep routing through the process-wide system classloader (\c Globals::syscl).
        Genuinely per-Program names (\c qore.<i>X</i>.<i>Y</i> with X ≠ \c Qore, single-
        segment \c qore.<i>X</i>) stay per-loader by design.
    - added Java wrapper methods for columnar DBI results:
      \c org.qore.lang.AbstractDatasource.selectColumnar(),
      \c org.qore.lang.AbstractDatasource.vselectColumnar(), and
      \c org.qore.lang.AbstractSQLStatement.fetchColumnar()
    - added native \c jdbc DBI support for \c Datasource::selectColumnar() and \c SQLStatement::fetchColumnar()
      when built against %Qore versions exposing the columnar result API; fixed-width JDBC result columns are returned
      as dense nullable %Qore buffers; \c NUMERIC / \c DECIMAL values with precision <= 38 are returned as packed
      \c buffer<*decimal128> columns when built against %Qore versions exposing the decimal128 buffer API, while
      date/time values retain logical schema metadata and use microsecond dense temporal storage when linked with
      %Qore dense temporal support; binary and driver-specific values retain schema metadata and fall back to list
      storage where needed
    - optimized native \c jdbc columnar reads for packed result sets with a Java-side batch reader; supported
      integer, floating-point, boolean, string, and decimal columns are extracted into primitive Java arrays in
      chunks and imported into %Qore buffers, avoiding per-cell JNI/JDBC getter calls while preserving null bitmaps,
      \c CHAR trimming, and the mixed-column fallback path for driver-specific object values
    - improved the <a href="../../JdbcDataProvider/html/index.html">JdbcDataProvider</a>
      module so provider and connection options can load JDBC driver JARs with \c classpath
      and explicitly register drivers with \c driver_class before opening a connection
    - added the <a href="../../JakartaJmsDataProvider/html/index.html">JakartaJmsDataProvider</a>
      module for Jakarta JMS 3.x messaging brokers
      - supports ActiveMQ Artemis, TIBCO EMS, IBM MQ, Oracle AQ, and any Jakarta Messaging 3.x
        compliant provider
      - automatic Qore-to-JMS type mapping (\c string \u2194 \c TextMessage, \c hash \u2194
        \c MapMessage, \c binary \u2194 \c BytesMessage)
      - send (fire-and-forget), request-reply, queue browsing, and event-driven consumption
      - JMS SQL-92 message selector support
      - durable topic subscriptions with \c client_id
      - thread-safe JMS session pool
      - connection provider with \c jms scheme
      - 4 app actions: \c send-jms-message, \c jms-request-reply, \c browse-jms-queue,
        \c jms-message-received
    - added the <a href="../../OpcUaDataProvider/html/index.html">OpcUaDataProvider</a> module for OPC UA
      connectivity using the Eclipse Milo 0.6.13 SDK
      - supports data change subscriptions via the observer pattern
      - supports read/write node values, browse address space, and call methods via the request API
      - supports connection provider with \c opcua, \c opcuatcp, and \c opcuahttps schemes
      - supports SSL/TLS and OPC UA security policy configuration
      - includes action catalog integration (7 actions)
    - fixed a bug in \c QoreCodeDispatcher::dispatch() where \c callback->getProgram() could return
      a null pointer, causing a SIGSEGV when Java callback threads invoked Qore code via
      \c implement_interface(); the dispatcher now checks for null before accessing the program's
      external data
    - fixed a bug where Java callback threads using module method references would fail to resolve
      classes because the callback's program context lacked JNI external data; the dispatcher now
      falls back to the program captured at \c QoreInvocationHandler construction time
    - fixed \c addParentClasspath() to fall back to adding JARs to the classloader directly when the
      parent classloader is not a \c QoreURLClassLoader (bootstrap program case)
    - fixed \c getQoreType() to gracefully handle class loading failures during type resolution by
      falling back to \c auto type instead of aborting class population
    - fixed \c MqttDataProvider to bundle the \c org.eclipse.paho.mqttv5.common jar alongside the
      \c org.eclipse.paho.mqttv5.client jar; the Paho MQTTv5 client jar contains only the
      \c org.eclipse.paho.mqttv5.client package and depends on the separate \c common artifact at
      runtime, so loading the module previously failed with
      \c ClassNotFoundException: org.eclipse.paho.mqttv5.common.MqttSubscription
    - fixed dynamic Java class generation for mutually-referential %Qore class clusters (for example
      \c DataProvider's \c AbstractDataProviderType / \c QoreDataType / \c HashDataType), which could
      fail at generation or static-initialization time with
      \c ClassNotFoundException: "<class> is already being created" when a base class declares a method
      whose parameter or return type is a not-yet-generated subclass:
      - the owning %Qore class is now marked creation-in-progress before any method-signature or
        constant materialization, so self/cyclic type references resolve to forward type references;
      - a referenced class whose superclass chain contains an in-progress class likewise resolves to a
        forward reference instead of re-entering generation;
      - the superclass handed to Byte Buddy is described from bytecode via a \c TypePool (new
        \c org.qore.jni.QoreClassFileLocator) so that computing the method graph and the
        super-constructor invocation does not eagerly reflect on loaded classes and recursively
        re-enter generation of an in-progress class
    - upgraded the bundled Byte Buddy library from 1.14.19 to 1.18.10, which natively supports newer
      Java class file versions; this is required for the bytecode-backed superclass description above
    - simplified \c Jni::org::qore::jni::check_network_bind() to resolve the active sandbox across the
      thread's program-context (call) stack, so module/library code invoked from a sandboxed program
      correctly inherits the caller's sandbox without needing an owner object (requires a %Qore release
      that resolves the sandbox manager across the program-context stack)
    - fixed an ABBA deadlock between the global class-map lock and the per-Program code-generation lock
      that could hang concurrent %Qore-to-Java byte code generation and Java-to-%Qore class import (for
      example during parallel service startup); the global class-map lock is now acquired strictly before
      the per-Program code-generation lock on all class-generation paths
    - fixed a related Java classloader monitor deadlock during concurrent dynamic bytecode generation and
      Java class import by avoiding native bytecode generation while holding Java class-loading locks
    - fixed intermittent native crashes during recursive dynamic Java class generation by keeping Java string
      references valid for the complete lifetime of native UTF string buffers
    - fixed recursive dynamic Java class generation when a consumer %Program inherits a
      module-owned class; bytecode lookup now routes shared classes through the owning module's
      canonical classloader, matching normal class loading
    - fixed process-exit aborts after dynamic Java bytecode generation by preventing deferred
      destruction of the JNI global %Program after %Qore synchronization state has been finalized

    @subsection jni_2_6_0 jni Module Version 2.6.0
    - added Kotlin language integration support
      (<a href="https://github.com/qoretechnologies/qore/issues/5131">issue 5131</a>)
      - added \c kotlin.* and \c kotlinmod.* package prefixes for dynamic Kotlin class imports
      - added automatic filtering of Kotlin synthetic members (\c ACC_SYNTHETIC, \c ACC_BRIDGE)
      - added automatic filtering of Kotlin default parameter methods (\c $default variants)
      - added automatic filtering of Kotlin companion object classes (\c $Companion)
      - added \c KotlinMetadataHelper Java class for detecting Kotlin classes via \c @kotlin.Metadata annotation
      - added \c qkotlinc helper script for compiling Kotlin sources that use Qore APIs
      - added \c kotlin_eval() function for runtime Kotlin scripting (requires kotlin-scripting-jsr223 JARs)
      - added \c kotlin_scripting_available() function to check if scripting is available
      - added \c kotlin_scripting_retry() function to retry scripting initialization after loading JARs
      - added \c kotlin-eval module command for parse-time Kotlin evaluation
      - added \c download-kotlin-scripting-jars script to download required JARs from Maven
      - Kotlin's \c HashMap, \c LinkedHashMap, and other \c Map implementations can be passed directly
        to %Qore methods expecting \c hash<auto> parameters; note that Java code using generated
        bytecode for \c hash<auto> parameters will now see \c java.util.Map instead of
        \c org.qore.jni.Hash in method signatures
      - Kotlin/Java lists are converted to the most specific %Qore list type based on element types
        (e.g., \c List<Integer> converts to \c list<int>); note that this means appending values of
        different types to such lists will throw a runtime type error
      - Kotlin/Java maps are converted to the most specific %Qore hash value type based on value types
        (e.g., \c Map<String,Integer> converts to \c hash<string,int>); note that this means adding
        values of different types to such hashes will throw a runtime type error
      - automatic conversion of \c java.time.LocalDateTime and \c java.time.Instant to %Qore \c date type;
        note that \c LocalDateTime has no timezone and will be interpreted as a local/floating date-time,
        while \c Instant is always UTC
    - added Kotlin integration tests
    - added default JVM native access enablement for unnamed modules; use
      \c QORE_JNI_DISABLE_NATIVE_ACCESS=1 to suppress the option
    - added \c native_access_option_enabled() to report native access enablement status

    @subsection jni_2_5_0 jni Module Version 2.5.0
    - added support for interruptible I/O for graceful termination of sandboxed programs; interrupt
      checks are performed before JVM thread attachment
      (<a href="https://github.com/qoretechnologies/qore/issues/5116">issue 5116</a>)
    - <b>breaking change</b>: updated to require Java 21+ for compatibility with Java 18+ where \c finalize() is
      deprecated for removal
      (<a href="https://github.com/qoretechnologies/qore/issues/5034">issue 5034</a>)
    - replaced deprecated \c finalize() methods with \c java.lang.ref.Cleaner API in \c QoreObjectBase,
      \c QoreClosure, \c QoreExceptionWrapper, and \c QoreInvocationHandler; this change makes calling
      \c release() or \c destroy() multiple times safe (idempotent)
      (<a href="https://github.com/qoretechnologies/qore/issues/5034">issue 5034</a>)
    - fixed a CMake bug where inner class inc file dependencies were not tracked correctly due to a typo
      (<a href="https://github.com/qoretechnologies/qore/issues/5034">issue 5034</a>)
    - fixed a bug where Java compiler diagnostics were output to stderr instead of being captured in the
      exception message
      (<a href="https://github.com/qoretechnologies/qore/issues/4925">issue 4925</a>)
    - improved \c QoreURLClassLoader thread safety by using \c ConcurrentHashMap for all caches
      (<a href="https://github.com/qoretechnologies/qore/issues/5047">issue 5047</a>)
    - added \c getValidPtr() method to \c QoreURLClassLoader that throws an exception if the program
      pointer is invalid
      (<a href="https://github.com/qoretechnologies/qore/issues/5045">issue 5045</a>)
    - added \c clearContext() method to \c QoreURLClassLoader for explicit thread context cleanup
      (<a href="https://github.com/qoretechnologies/qore/issues/5040">issue 5040</a>)
    - added \c clearAllCaches() method to \c QoreURLClassLoader for comprehensive cache cleanup
      (<a href="https://github.com/qoretechnologies/qore/issues/5042">issue 5042</a>)
    - \c QoreJavaCompiler now implements \c AutoCloseable for proper resource cleanup;
      usage with try-with-resources:
      @code{.java}
      try (QoreJavaCompiler compiler = new QoreJavaCompiler(classLoader, options)) {
          compiler.compile(className, sourceCode);
      } // compiler.close() is called automatically
      @endcode
      (<a href="https://github.com/qoretechnologies/qore/issues/5038">issue 5038</a>)
    - added validation of program pointer before use in native calls to prevent crashes with invalid pointers
      (<a href="https://github.com/qoretechnologies/qore/issues/5039">issue 5039</a>)
    - improved \c clearCompilationCache() to also clear the \c classes cache
      (<a href="https://github.com/qoretechnologies/qore/issues/5042">issue 5042</a>)
    - fixed abstract method resolution for Java classes imported at runtime through Python
      (<a href="https://github.com/qoretechnologies/qore/issues/5056">issue 5056</a>)

    @subsection jni_2_4_0 jni Module Version 2.4.0
    - added the <a href="../../ExcepDataProvider/html/index.html">ExcepDataProvider</a> module to allow for reading
      record-based data from Excel spreadheets
    - added the <a href="../../KafkaDataProvider/html/index.html">KafkaDataProvider</a> module to allow for to support
      Kafka messaging
    - <a href="../../MqttDataProvider/html/index.html">MqttDataProvider</a> module
      - added support for the data provider action catalog API
        (<a href="https://github.com/qorelanguage/qore/issues/4808">issue 4808</a>)
    - fixed handling conversions from %Qore and %Python to Java for \c Float values
      (<a href="https://github.com/qorelanguage/qore/issues/4890">issue 4890</a>)
    - fix for importing Qore methods with varargs into Java
      (<a href="https://github.com/qorelanguage/qore/issues/4833">issue 4833</a>)

    @subsection jni_2_3_1 jni Module Version 2.3.1
    - fixed a bugs handling the signal mask that could cause hard-to-debug problems such as deadlocks in JIT in the
      JVM on macOS aarch64
      (<a href="https://github.com/qorelanguage/qore/issues/4793">issue 4793</a>)
    - fixed signatures for Java methods with varargs params
      (<a href="https://github.com/qorelanguage/qore/issues/4787">issue 4787</a>)
    - fixed a bug where %Qore's thread stack size settings were not applied to Java threads
      (<a href="https://github.com/qorelanguage/qore/issues/4769">issue 4769</a>)

    @subsection jni_2_3_0 jni Module Version 2.3.0
    - added the <a href="../../MqttDataProvider/html/index.html">MqttDataProvider</a> module to allow for publishing
      and subscribing to MQTT messages
      (<a href="https://github.com/qorelanguage/qore/issues/4756">issue 4756</a>)

    @subsection jni_2_2_1 jni Module Version 2.2.1
    - fixed a bug handling class loaders in JDBC connection acquisition when called from %Qore code imported in native
      Java code; in this case dynamic dispatch is used in the internal call to \c DriverManager.getConnection() to
      ensure that the call succeeds
      (<a href="https://github.com/qorelanguage/qore/issues/4740">issue 4740</a>)

    @subsection jni_2_2_0 jni Module Version 2.2.0
    - implemented support for specifying the minimum an maximum heap sizes for the JVM on initialization from
      environment variables
      (<a href="https://github.com/qorelanguage/qore/issues/4734">issue 4734</a>)
    - fixed bugs handling dynamic Java class generation from %Qore classes with abstract methods
      (<a href="https://github.com/qorelanguage/qore/issues/4737">issue 4737</a>)

    @subsection jni_2_1_1 jni Module Version 2.1.1
    - fixed reading date/time values from MS SQL Server databases
      (<a href="https://github.com/qorelanguage/qore/issues/4705">issue 4705</a>)
    - fixed exception handling in destroying JNI program data
      (<a href="https://github.com/qorelanguage/qore/issues/4704">issue 4704</a>)

    @subsection jni_2_1_0 jni Module Version 2.1.0
    - added support for the @ref jdbc_driver "jdbc DBI driver"
      (<a href="https://github.com/qorelanguage/qore/issues/4684">issue 4684</a>)
    - fixed a bug where \c qjavac did not detect the binary path of compiled objects correctly in all cases
      (<a href="https://github.com/qorelanguage/qore/issues/4683">issue 4683</a>)
    - fixed a bug in \c qjavac where error information was not output when compiler diagnostic information was missing
      (<a href="https://github.com/qorelanguage/qore/issues/4682">issue 4682</a>)

    @subsection jni_2_0_11 jni Module Version 2.0.11
    - updated to work with the latest \c qpp from %Qore 1.12.4+

    @subsection jni_2_0_10 jni Module Version 2.0.10
    - fixed a bug where the dynamic compiler (@ref org.qore.jni.compiler.QoreJavaCompiler "QoreJavaCompiler") could
      not load classes in internal Java modules
      (<a href="https://github.com/qorelanguage/qore/issues/4619">issue 4619</a>)

    @subsection jni_2_0_9 jni Module Version 2.0.9
    - added the following new class to the Java API:
      - @ref org.qore.jni.QoreClosureMarkerImpl
    - fixed a bug where a crash could result when calling a Java varargs method from another language with no
      arguments passed
      (<a href="https://github.com/qorelanguage/qore/issues/4594">issue 4594</a>)
    - fixed a bug importing %Qore APIs using the \c code type into Java as @ref org.qore.jni.QoreClosureMarkerImpl types
      (<a href="https://github.com/qorelanguage/qore/issues/4593">issue 4593</a>)
    - fixed a bug handling %Qore constructor calls from dynamically generated Java classes
      (<a href="https://github.com/qorelanguage/qore/issues/4581">issue 4581</a>)

    @subsection jni_2_0_8 jni Module Version 2.0.8
    - fixed a bug importing %Qore abstract methods with default or optional arguments
      (<a href="https://github.com/qorelanguage/qore/issues/4570">issue 4570</a>)

    @subsection jni_2_0_7 jni Module Version 2.0.7
    - fixed a bug where missing c++ exception handling could cause a crash
      (<a href="https://github.com/qorelanguage/qore/issues/4500">issue 4500</a>)

    @subsection jni_2_0_6 jni Module Version 2.0.6
    - fixed a bug where \c qjavac wrote output files in the current working directory instead of in the directory of
      the input file
      (<a href="https://github.com/qorelanguage/qore/issues/4376">issue 4376</a>)
    - fixed a bug where %Qore and %Python functions could not be imported into the special \c $Functions Java class if
      the enclosing namespace had less than two classes in it
      (<a href="https://github.com/qorelanguage/qore/issues/4375">issue 4375</a>)
    - fixed a bug where @ref org.qore.jni.QoreURLClassLoader could not be used as the system class loader
      (<a href="https://github.com/qorelanguage/qore/issues/4374">issue 4374</a>)
    - fixed a bug where %Qore and %Python dynamic module imports were not created with consistent Java binary names;
      also to facilitate handling injected symbols, the \c mark-module-injected module command was implemented
      (<a href="https://github.com/qorelanguage/qore/issues/4373">issue 4373</a>)
    - fixed a bug where Java method args in array format were not always converted from %Qore values correctly
      (<a href="https://github.com/qorelanguage/qore/issues/4372">issue 4372</a>)
    - fixed a bug where the %Qore \c Program and Java \c ClassLoader context was not always set correctly when
      instantiating %Qore classes from Java when there were dependencies on dynamic classes, leading to class
      resolution errors
      (<a href="https://github.com/qorelanguage/qore/issues/4371">issue 4371</a>)

    @subsection jni_2_0_5 jni Module Version 2.0.5
    - fixed a memory error in exception handling in %Qore to Java tyype conversions that could cause a core dump
      (<a href="https://github.com/qorelanguage/qore/issues/4349">issue 4349</a>)

    @subsection jni_2_0_4 jni Module Version 2.0.4
    - fixed a bug handling %Qore callbacks in native Java threads
      (<a href="https://github.com/qorelanguage/qore/issues/4340">issue 4340</a>)
    - fixed a bug handling Java interfaces as parents of a Java class
      (<a href="https://github.com/qorelanguage/qore/issues/4337">issue 4337</a>)

    @subsection jni_2_0_3 jni Module Version 2.0.3
    - implemented the magic \c '$' target when importing %Qore or %Python modules with import statements with the
      \c qoremod or \c pythonmod special packages
      (<a href="https://github.com/qorelanguage/qore/issues/4304">issue 4304</a>)

    @subsection jni_2_0_2 jni Module Version 2.0.2
    - fixed a bug where vararg arguments were not handled correctly when dynamically-generated Java called a %Qore or
      %Python static method
      (<a href="https://github.com/qorelanguage/qore/issues/4302">issue 4302</a>)
    - fixed a bug where a runtime error was generated when used with Java 17 or above
      (<a href="https://github.com/qorelanguage/qore/issues/4300">issue 4300</a>)

    @subsection jni_2_0_1 jni Module Version 2.0.1
    - fixed a bug where parameters of %Qore type \c null or \c nothing would cause runtime errors when importing
      the method into Java
      (<a href="https://github.com/qorelanguage/qore/issues/4287">issue 4287</a>)
    - fixed static method calls of imported %Qore methods in Java; the calling context is now set correctly
      (<a href="https://github.com/qorelanguage/qore/issues/4286">issue 4286</a>)
    - fixed importing abstract %Qore methods into Java; Java methods are no longer marked as taking trailing vararg
      arguments
      (<a href="https://github.com/qorelanguage/qore/issues/4282">issue 4282</a>)
    - fixed importing %Qore classes with multiple inheritance into Java; methods from other non-primary base classes
      are now also imported into the dynamic Java class
      (<a href="https://github.com/qorelanguage/qore/issues/4091">issue 4091</a>)

    @subsection jni_2_0 jni Module Version 2.0
    - %Qore @ref int_type "int" values are now converted to Java \c long in order to maintain precision
    - the old hand-developed Java wrapper classes are deprecated as of this release in favor of
      @ref jni_dynamic_import_in_java "dynamic imports"
    - implemented support for dynamically importing %Qore code into Java
      (<a href="https://github.com/qorelanguage/qore/issues/4091">issue 4091</a>)

    @subsection jni_1_2 jni Module Version 1.2
    - fixed crashes handling deleted Qore program contexts
      (<a href="https://github.com/qorelanguage/qore/issues/4263">issue 4262</a>)
    - fixed crashes handling Java lambdas wrapping Qore closures and call references
      (<a href="https://github.com/qorelanguage/qore/issues/4261">issue 4261</a>)
    - fixed importing AWT classes in headless mode
      (<a href="https://github.com/qorelanguage/qore/issues/4231">issue 4231</a>)
    - fixed method calls for methods that return base types where a caller context is required (for Reflection access
      control, for example)
      (<a href="https://github.com/qorelanguage/qore/issues/4093">issue 4093</a>)
    - fixed a memory leak (or an assertion crash in debug mode) for a duplicate member error when importing Java
      classes in %Qore
      (<a href="https://github.com/qorelanguage/qore/issues/4029">issue 4029</a>)
    - added support for converting %Qore closures / call references to a Java object
      (<a href="https://github.com/qorelanguage/qore/issues/3995">issue 3995</a>)

    @subsection jni_1_1_3 jni Module Version 1.1.3
    - fixed a bug create %Qore classes wrapping Java classes that can cause a crash with debug builds of %Qore
      (<a href="https://github.com/qorelanguage/qore/issues/3976">issue 3976</a>)
    - added a runtime check to verify that the Java version is the expected version, otherwise a crash or other
      errors could result
      (<a href="https://github.com/qorelanguage/qore/issues/3969">issue 3969</a>)
    - added \c getAs*() methods to the @ref org.qore.jni.Hash class to help in retrieving key values with specific
      base types
      (<a href="https://github.com/qorelanguage/qore/issues/3957">issue 3957</a>)
    - added the @ref org.qore.lang.dataprovider.AbstractDataProcessor class
      (<a href="https://github.com/qorelanguage/qore/issues/3876">issue 3876</a>)

    @subsection jni_1_1_2 jni Module Version 1.1.2
    - use <tt>java.util.List&lt;?&gt;</tt> instead of <tt>java.util.ArrayList&lt;?&gt;</tt> as the base class for list
      conversions
      (<a href="https://github.com/qorelanguage/qore/issues/3873">issue 3873</a>)
    - added the @ref org.qore.jni.Hash class to use when passing %Qore hashes to Java to make it easier to work with
      %Qore hash data
      (<a href="https://github.com/qorelanguage/qore/issues/3868">issue 3868</a>)
    - fixed a crash in %Qore Program setup when initiated from a Qore thread with no Java context thread
      (<a href="https://github.com/qorelanguage/qore/issues/3862">issue 3862</a>)
    - fixed a crash in method invocation due to incorrect detection of the Java thread context
      (<a href="https://github.com/qorelanguage/qore/issues/3794">issue 3794</a>)
    - fixed a bug in @ref org.qore.lang.smtpclient.SmtpClient.sendMessage() "SmtpClient.sendMessage()"

    @subsection jni_1_1_1 jni Module Version 1.1.1
    - added the following Java classes:
      - @ref org.qore.lang.mailmessage.Attachment "Attachment"
      - @ref org.qore.lang.mailmessage.Message "Message"
      - @ref org.qore.lang.mailmessage.Part "Part"
      - @ref org.qore.lang.restclient.RestClient "RestClient"
      - @ref org.qore.lang.smtpclient.SmtpClient "SmtpClient"
      .
      (<a href="https://github.com/qorelanguage/qore/issues/3794">issue 3794</a>)

    @subsection jni_1_1 jni Module Version 1.1
    - added support for disabling JIT with the <tt>QORE_JNI_DISABLE_JIT=1</tt> environment variable
      (<a href="https://github.com/qorelanguage/qore/issues/3199">issue 3199</a>)
    - updated to require Java/JDK 11+
      (<a href="https://github.com/qorelanguage/qore/issues/3188">issue 3188</a>)
    - added @ref Jni::org::qore::jni::define_class() "define_class()"
      (<a href="https://github.com/qorelanguage/qore/issues/3023">issue 3023</a>)
    - added the following new class methods to the Qore API:
      - @ref Jni::org::qore::jni::JavaArray::toString() "JavaArray::toString()"
      - @ref Jni::org::qore::jni::JavaArray::deepToString() "JavaArray::deepToString()"
    - added the following new class methods to the Java API:
      - @ref org.qore.jni.QoreJavaApi.callFunctionSave() "QoreJavaApi.callFunctionSave()"
      - @ref org.qore.jni.QoreJavaApi.callFunctionSaveArgs() "QoreJavaApi.callFunctionSaveArgs()"
      - @ref org.qore.jni.QoreJavaApi.callStaticMethod() "QoreJavaApi.callStaticMethod()"
      - @ref org.qore.jni.QoreJavaApi.callStaticMethodArgs() "QoreJavaApi.callStaticMethodArgs()"
      - @ref org.qore.jni.QoreJavaApi.callStaticMethodSave() "QoreJavaApi.callStaticMethodSave()"
      - @ref org.qore.jni.QoreJavaApi.callStaticMethodSaveArgs() "QoreJavaApi.callStaticMethodSave()"
      - @ref org.qore.jni.QoreJavaApi.newObjectSave() "QoreJavaApi.newObjectSave()"
      - @ref org.qore.jni.QoreJavaApi.newObjectSaveArgs() "QoreJavaApi.newObjectSaveArgs()"
    - added the following new classes to the Java API:
      - @ref org.qore.jni.QoreClosureMarker
      - @ref org.qore.jni.QoreObject
      - @ref org.qore.jni.QoreObjectWrapper
      - @ref org.qore.jni.QoreRelativeTime
      - @ref org.qore.lang.AbstractDatasource
      - @ref org.qore.lang.AbstractIterator
      - @ref org.qore.lang.AbstractSQLStatement
      - @ref org.qore.lang.DatasourcePool
      - @ref org.qore.lang.HTTPClient
      - @ref org.qore.lang.LogCallback
      - @ref org.qore.lang.bulksqlutil.AbstractBulkOperation
      - @ref org.qore.lang.bulksqlutil.BulkInsertOperation
      - @ref org.qore.lang.bulksqlutil.BulkRowCallback
      - @ref org.qore.lang.bulksqlutil.BulkUpsertOperation
      - @ref org.qore.lang.dataprovider.AbstractDataField
      - @ref org.qore.lang.dataprovider.AbstractDataProvider
      - @ref org.qore.lang.dataprovider.AbstractDataProviderBulkOperation
      - @ref org.qore.lang.dataprovider.AbstractDataProviderBulkRecordInterface
      - @ref org.qore.lang.dataprovider.AbstractDataProviderRecordIterator
      - @ref org.qore.lang.dataprovider.AbstractDataProviderType
      - @ref org.qore.lang.mapper.Mapper
      - @ref org.qore.lang.mapper.MapperOutputRecordIterator
      - @ref org.qore.lang.reflection.Type
      - @ref org.qore.lang.soapclient.SoapClient
      - @ref org.qore.lang.sqlutil.Table
      - @ref org.qore.lang.sqlutil.AbstractTable
      - @ref org.qore.lang.sqlutil.AbstractSqlUtilBase
      - @ref org.qore.lang.tablemapper.RawSqlStatementOutboundMapper
      - @ref org.qore.lang.tablemapper.InboundIdentityTableMapper
      - @ref org.qore.lang.tablemapper.AbstractSqlStatementOutboundMapper
      - @ref org.qore.lang.tablemapper.InboundTableMapper
      - @ref org.qore.lang.tablemapper.SqlStatementOutboundMapper
    - added support for date <-> java.time.ZonedDateTime conversions
      (<a href="https://github.com/qorelanguage/qore/issues/3026">issue 3026</a>)
    - fixed the %Qore exception location when a Java exception is propagated to %Qore
      (<a href="https://github.com/qorelanguage/qore/issues/3077">issue 3077</a>)
    - fixed call stacks for exceptions to include Java call stack information in all cases
      (<a href="https://github.com/qorelanguage/qore/issues/3169">issue 3169</a>)
    - implemented the \c set-property module command to allow for Java system properties to be set while initializing
      the module
      (<a href="https://github.com/qorelanguage/qore/issues/3495">issue 3495</a>)

    @subsection jni_1_0_1 jni Module Version 1.0.1
    - fixed setting the class loader context when calling %Qore code from Java threads
      (<a href="https://github.com/qorelanguage/qore/issues/3585">issue 3585</a>)

    @subsection jni_1_0 jni Module Version 1.0
    - initial public release
*/
